---
const year = new Date().getFullYear();
---

<footer class="footer">
  <a href="mailto:studio@imla.ch" class="email">studio@imla.ch</a>
  <div class="colophon">
    The Studio &nbsp;·&nbsp; Dunkeld &nbsp;·&nbsp; {year}<br />
    <a class="faint" href="https://imla.ch/">An imla.ch property ↗</a>
  </div>
</footer>
